<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<style nonce="{{ request.csp_nonce }}">
    /* Prevent text highlighting in table when selecting multiple rows (using Shift key) */
    #table { user-select: none }
</style>
<script src="{% url 'javascript-catalog' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Udbetalinger" %}</h1>
        </div>
    </div>

    <form method="get">
        <div class="row">
            <div class="col-2">{% translate "Kæde" %}</div>
            <div class="col-4">{{ form.company_branch }}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Butik" %}</div>
            <div class="col-4">{{ form.kiosk }}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Periode" %}</div>
            <div class="col-2">{{ form.from_date }}</div>
            <div class="col-2">{{ form.to_date }}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Allerede eksporteret" %}</div>
            <div class="col-4">
                {{ form.already_exported }}
                <br>
                {{ form.already_exported.label }}
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3 mb-3">
            <div class="col-6 clearfix"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
        </div>
    </form>

    <form method="post">
        {% csrf_token %}
        <div class="mb-1">
            <button type="submit" class="btn btn-primary" name="selection" value="selected-wet">
                Hent valgte (<span>0</span>) som ERP-eksport
            </button>
            <button type="submit" class="btn btn-primary d-none" name="selection" value="all-wet">
                Hent alle ({{ total }}) som som ERP-eksport
            </button>
            <button type="submit" class="btn btn-secondary" name="selection" value="selected-dry">
                Hent valgte (<span>0</span>) som preview
            </button>
            <button type="submit" class="btn btn-secondary d-none" name="selection" value="all-dry">
                Hent alle ({{ total }}) som preview
            </button>
        </div>
        {% include "../list_view_table.html" %}
    </form>
</div>

<script nonce="{{ request.csp_nonce }}">
(function () {
    const getSelectedRows = function (table) {
        let ids = [];
        const checkboxes = table.find("td input[type=checkbox]:checked");

        checkboxes.each(function (idx, elem) {
            ids.push($(elem).val());
        });

        return ids;
    }
    const getNumSelectedRows = function (table) {
        return getSelectedRows(table).length;
    }

    $(document).ready(function () {
        const table = $("#table");
        const form = $("form[method=post]");
        const selectChosen = $("button[type=submit][value|=selected]");
        const selectAll = $("button[type=submit][value|=all]");
        const selectWet = $("button[type=submit][value$=wet]");
        const selectDry = $("button[type=submit][value$=dry]");

        // Initial state of "Hent valgte" and "Hent alle" is disabled
        selectChosen.attr("disabled", "disabled");
        selectAll.attr("disabled", "disabled");

        // Enable/disable the "Hent valgte"/"Hent alle" buttons whenever the number of selected
        // rows change, or when the current page is changed (as this also resets the selected
        // rows back to zero.)
        // Update count of selected rows on button whenever rows are selected (or unselected.)
        table.on(
            "row-select-event",
            function (evt, params) {
                const totalRows = table.data("total-rows");
                const numSelectedRows = getNumSelectedRows(table);
                const state = numSelectedRows === 0 ? "disabled" : null;

                // Make "select all" buttons visible depending on event parameters.
                // If more rows are available, but not on screen, then allow user to select everything matching the
                // current filters.
                if ((params !== undefined) && (params["all"] === true)) {
                    if (totalRows >= numSelectedRows) {
                        selectAll.removeClass("d-none");
                    } else {
                        selectAll.addClass("d-none");
                    }
                }

                // Toggle disabled state of "Hent valgte" and "Hent alle"
                selectChosen.attr("disabled", state);
                selectAll.attr("disabled", state);

                // Update count on "Hent valgte"
                $("span", selectChosen).text(numSelectedRows);
            },
        );

        form.on("submit", function (evt) {
            evt.preventDefault();
        })

        selectWet.on("click", function (evt) {
            evt.preventDefault();

            const proceed = confirm(
                gettext("Er du sikker på at du vil fortsætte? Dette vil markere de valgte pantdata som udbetalt. Denne handling kan ikke fortrydes.")
            );
            if (proceed) {
                const selection = $(this).val();
                downloadFile(selection);
            }
        });

        selectDry.on("click", function (evt) {
            evt.preventDefault();

            const selection = $(this).val();
            downloadFile(selection);
        });

        const downloadFile = function (selection) {
            let data = form.serializeArray();
            data.push({"name": "selection", "value": selection});
            if (selection.match(/^selected\-/)) {
                data.push({"name": "ids", "value": getSelectedRows(table)});
            }

            // Source: https://stackoverflow.com/a/23797348
            $.ajax({
                type: "POST",
                url: "." + window.location.search,
                data: data,
                xhrFields: {
                    responseType: "blob" // to avoid binary data being mangled on charset conversion
                },
                success: function(blob, status, xhr) {
                    // check for a filename
                    var filename = "";
                    var disposition = xhr.getResponseHeader("Content-Disposition");
                    if (disposition && disposition.indexOf("attachment") !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, "");
                    }

                    if (typeof window.navigator.msSaveBlob !== "undefined") {
                        // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            // use HTML5 a[download] attribute to specify filename
                            var a = document.createElement("a");
                            // safari doesn't support this yet
                            if (typeof a.download === "undefined") {
                                window.location.href = downloadUrl;
                            } else {
                                a.href = downloadUrl;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();

                                // Reload page when download completes
                                setTimeout( function () { window.location.reload(); }, 1);
                            }
                        } else {
                            window.location.href = downloadUrl;
                        }

                        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                    }
                }
            });
        }
    })
})();
</script>
{% endblock %}
