<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
<style>
    /* Prevent text highlighting in table when selecting multiple rows (using Shift key) */
    #table { user-select: none }
</style>
<script src="{% static 'jquery/pantportal.js' %}"></script>
{% endblock %}

{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
{% endblock %}

{% block content %}

<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Udbetalinger" %}</h1>
        </div>
    </div>

    <form method="get">
        <div class="row">
            <div class="col-2">{% translate "Kæde" %}</div>
            <div class="col-4">{{ form.company_branch }}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Butik" %}</div>
            <div class="col-4">{{ form.kiosk }}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Periode" %}</div>
            <div class="col-2">{{ form.from_date }}</div>
            <div class="col-2">{{ form.to_date }}</div>
        </div>
        {% if form.non_field_errors %}
        <div class="row">
            <div class="col-6 d-flex justify-content-end">
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3 mb-3">
            <div class="col-6 clearfix"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
        </div>
    </form>

    <form method="post">
        {% csrf_token %}
        <div class="mb-1">
            <button type="submit" class="btn btn-primary" name="selection" value="selected">
                Hent valgte (<span>0</span>) som udbetalingsliste
            </button>
            <button type="submit" class="btn btn-primary d-none" name="selection" value="all">
                Hent alle ({{ page_obj.paginator.count }}) som udbetalingsliste
            </button>
        </div>
        {% include "../list_view_table.html" %}
    </form>
</div>

{{search_data|json_script:"search_data"}}
<script>
(function () {
    $(document).ready(function () {
        // Update count of selected rows on button whenever rows are selected (or unselected.)
        $("#table").on(
            "uncheck.bs.table uncheck-all.bs.table uncheck-some.bs.table check.bs.table check-some.bs.table check-all.bs.table",
            function (evt) {
                const selectedRows = $("#table").bootstrapTable("getSelections");
                $("button[type=submit][value=selected] span").text(selectedRows.length);
            },
        );

        // Prompt user when checking 'all' rows. If more rows are available, but not on screen, then allow user to
        // select everything matching the current filters.
        $("#table").on("check-all.bs.table", function (evt, rows) {
            const totalRows = $("#table").bootstrapTable("getOptions")["totalRows"];
            const selectedRows = rows.length;
            if (totalRows >= selectedRows) {
                $("button[type=submit][value=all]").removeClass("d-none");
            }
        });

        // Hide button which can submit 'all' rows whenever only a subset of rows are selected
        $("#table").on(
            "uncheck.bs.table uncheck-all.bs.table uncheck-some.bs.table check.bs.table check-some.bs.table",
            function (evt) {
                $("button[type=submit][value=all]").addClass("d-none");
            },
        );
    })
})();
</script>
{% endblock %}
