<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load bootstrap_icons %}
{% load i18n %}

<div class="row">
    {{subform.id}}
    <div class="col-2 pe-0">
        {{subform.date}}
    </div>
    <div class="col-1 px-0">
        {{subform.count}}
        {{subform.count.errors}}
    </div>
    <div class="col-4 px-0">
        {{subform.company_branch_or_kiosk}}
        {{subform.company_branch_or_kiosk.errors}}
    </div>
    <div class="col-2 px-0">
        {{subform.compensation}}
        {{subform.compensation.errors}}
    </div>
    <div class="col-3 ps-0">
        <button type="button" class="btn btn-link remove-row">{% bs_icon "trash3" color="red" size="1.3em" %}</button>
        <button type="button" class="btn btn-link add-row">{% bs_icon "plus-square-fill" color="green" size="1.3em" %}</button>
    </div>
</div>

