{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}


{% block content %}

<div class="mx-5">
    <h1>{% translate "Registrer nyt produkt" %}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
            <div class="col form-group">
                <label class="" id="{{field.id_for_label}}">{{field.label}}:</label>
                {{field}}
            </div>
            {% endfor %}
        </div>
        
        <div class="form-row mt-5">
            <div class="col">
                <input class="btn btn-success float-right" type="submit" value="{% translate 'Opret' %}"/>
            </div>
        </div>
    </form>

</div>

{% endblock %}
