<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
<script src="{% static 'jquery/pantportal.js' %}"></script>
{% endblock %}

{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/cookie/bootstrap-table-cookie.js"></script>
{% endblock %}

{% block content %}

<div class="mx-5">

    <div class="row">
        <div class="col-6">
            <h1>{% translate "Produkter" %}</h1>
        </div>
    </div>

    <form method="get">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">{% translate "Navn" %}</div>
                    <div class="col-8">{{form.product_name}}</div>
                </div>
                <div class="row">
                    <div class="col-4">{% translate "Stregkode" %}</div>
                    <div class="col-8">{{form.barcode}}</div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {% translate "Godkendt" %}
                        {% if user.is_esani_admin %}
                        ({% bs_icon "bag-check" size="1em" color="green" %}: <span id="approved_count">{{approved_products}}</span>,
                        {% bs_icon "bag-x" size="1em" color="red" %}: <span id="pending_count">{{pending_products}}</span>)
                        {% endif %}
                    </div>
                    <div class="col-8">{{form.approved}}</div>
                </div>
                {% if user.is_esani_admin %}
                <div class="row">
                    <div class="col-4">{% translate "Import job" %}</div>
                    <div class="col-8">{{form.import_job}}</div>
                </div>
            	{% endif %}
                <div class="row">
                    <div class="col-4">{% translate "Produkter pr. side" %}</div>
                    <div class="col-8">{{form.limit}}</div>
                    <div class="col-12"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
                </div>
            </div>
        </div>
    </form>

    <div class="card mt-3" id="delete_confirmation" style="display:none">
        <div class="card-body text-center">
            {% bs_icon "trash" size="2em" %}
            <div>
                {% translate "Produkt fjernet" %}
            </div>
        </div>
    </div>

    <div class="col-12  mt-3">
        <a class="btn btn-primary" href="{% url 'pant:registered_products_csv_download' 1 %}">{% translate "Download .csv-fil med godkendte produkter" %}
        </a>
        <a class="btn btn-primary" href="{% url 'pant:registered_products_csv_download' 0 %}">{% translate "Download .csv-fil med alle produkter" %}
        </a>
        {% if can_edit_multiple %}
        <a id="approve_button" class="btn btn-primary disabled" href="#">{% translate "Godkend alle markerede produkter" %}</a>
        <a id="delete_button" class="btn btn-danger disabled" href="#">{% translate "Fjern alle markerede produkter" %}</a>
        {% endif %}
        {% include "../list_view_filter_button.html" with columns=filterable_columns %}
    </div>
    {% include "../list_view_table.html" %}
</div>

{{search_data|json_script:"search_data"}}

{% include "../list_view_scripts.html"%}

{% if can_edit_multiple %}
<script>
let shiftPressed = false;
$(document).on("keydown", function (event){
    if (event.originalEvent.key === "Shift") {
        shiftPressed = true;
    }
});
$(document).on("keyup", function (event){
    if (event.originalEvent.key === "Shift") {
        shiftPressed = false;
    }
});

let latestClicked;
let latestRange;
const activeClass = "table-active";
const approveButton = $("#approve_button");
const deleteButton = $("#delete_button");

function getRowId(row){
    rowId = row.find('td:first').find('input:first').val();
    // Remove spurious "." that causes type error.
    return rowId.split(".").join("")
};

function getUnapprovedRows(){
    const selectedRows = $("table tr."+activeClass);
    const rowIds = [];
    selectedRows.each(function (){
        if ($(this).find('td:eq(3)').text()==='{{ _("Nej") }}') {
            rowIds.push(getRowId($(this)));
        }
    });
    return rowIds
};

function getRows(){
    const selectedRows = $("table tr."+activeClass);
    const rowIds = [];
    selectedRows.each(function (){
        rowIds.push(getRowId($(this)));
    });
    return rowIds
};


const onUpdateSelected = function () {
    unapprovedRowIds = getUnapprovedRows();
    rowIds = getRows();
    if (unapprovedRowIds.length > 0){
        approveButton.removeClass("disabled");
    } else {
        approveButton.addClass("disabled");
    }
    if (rowIds.length > 0){
        deleteButton.removeClass("disabled");
    } else {
        deleteButton.addClass("disabled");
    }

};

approveButton.on("click", function() {
    rowIds = getUnapprovedRows();
    if (rowIds.length > 0){
        confirmed = confirm('{% translate "Er du sikker på at du vil godkende " %}'
                            + rowIds.length
                            + '{% translate " produkter?" %}');
        if (confirmed){
            $.ajax({
                type: 'POST',
                url: '{% url "pant:product_multiple_approve" %}',
                data: {csrfmiddlewaretoken : '{{ csrf_token }}',
                       ids : rowIds },
                success: function(){
                    $table.bootstrapTable('refresh');
                    let approved_count = parseInt($("#approved_count").text());
                    let pending_count = parseInt($("#pending_count").text());
                    $("#approved_count").text(approved_count+rowIds.length);
                    $("#pending_count").text(pending_count-rowIds.length);
                }
            });
        }
    }
});

deleteButton.on("click", function() {
    rowIds = getRows();
    confirmed = confirm('{% translate "Er du sikker på at du vil fjerne " %}'
                        + rowIds.length
                        + '{% translate " produkter?" %}');
    if (confirmed){
        $.ajax({
            type: 'POST',
            url: '{% url "pant:product_multiple_delete" %}',
            data: {csrfmiddlewaretoken : '{{ csrf_token }}',
                   ids : rowIds },
            success: function(resp){
                $table.bootstrapTable('refresh');
                let pending_count = parseInt($("#pending_count").text());
                $("#pending_count").text(pending_count-resp.deleted_products);

                if (resp.protected_products>0) {
                    alert(resp.protected_products_message);
                }
            },
            error: function(resp){
                alert(resp.responseJSON.error);
                }
        });
    }
});

{# Klikbare rækker efter følgende regler: #}
{#   Klik på en række aktiverer / deaktiverer #}
{#   Klik på række A, hold shift nede og klik på række B: aktiverer / deaktiverer alle rækker mellem A og B, så de får samme tilstand som A #}
$("table").on("click-row.bs.table", function (event, data, row, field) {
    if (shiftPressed && latestClicked) {
        const index1 = row.index();
        const index2 = latestClicked.index();
        const range = row.siblings().slice(Math.min(index1, index2), Math.max(index1, index2)).add(row);
        const firstActive = latestClicked.hasClass(activeClass);
        if (latestRange) {
            // Hvis vi lige har valgt en range og vælger en ny, skal den første range flippes
            if (firstActive) {
                latestRange.removeClass(activeClass);
                latestRange.find("[name=id]").prop("checked", false);
            } else {
                latestRange.addClass(activeClass);
                latestRange.find("[name=id]").prop("checked", true);
            }
        }
        // Sæt ny range's aktiv ud fra startpunktets aktivitet
        if (firstActive) {
            range.addClass(activeClass);
            range.find("[name=id]").prop("checked", true);
        } else {
            range.removeClass(activeClass);
            range.find("[name=id]").prop("checked", false);
        }
        latestRange = range;
    } else {
        const checkbox = row.find("[name=id]");
        const activate = !row.hasClass(activeClass);//!checkbox.is(":checked");
        latestClicked = row;
        latestRange = null;
        row.toggleClass(activeClass, activate);
        checkbox.prop("checked", activate);
    }
    onUpdateSelected();
});

const setListeners = function () {
    $("table a").on("click", function (event) {
        event.stopPropagation();
    });
    $("#select_all").on("change", function () {
        const checked = $(this).is(":checked");
        $("[name=id]").prop("checked", checked);
        $("table tbody tr").toggleClass(activeClass, checked);
        onUpdateSelected();
    });
};

$("table").on("reset-view.bs.table", function () {
    setListeners();
    onUpdateSelected();
});
setListeners();

</script>
{% endif %}

{% endblock %}
