<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{# Docs for bootstrap-table: https://bootstrap-table.com/docs/ #}
{% block extra_headers %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
<script src="{% static 'jquery/pantportal.js' %}"></script>
{% endblock %}

{% block extra_footers %}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/defer-url/bootstrap-table-defer-url.min.js"></script>
{% endblock %}

{% block content %}

<div class="mx-5">

    <div class="row">
        <div class="col-6">
            <h1>{% translate "Produkter" %}</h1>
        </div>
    </div>

    <form method="get">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">{% translate "Navn" %}</div>
                    <div class="col-8">{{form.product_name}}</div>
                </div>
                <div class="row">
                    <div class="col-4">{% translate "Stregkode" %}</div>
                    <div class="col-8">{{form.barcode}}</div>
                </div>
                <div class="row">
                    <div class="col-4">
                	{% translate "Godkendt" %}
             	  	{% if user.is_esani_admin %}
                	({% bs_icon "bag-check" size="1em" color="green" %}: {{approved_products}},
                	{% bs_icon "bag-x" size="1em" color="red" %}: {{pending_products}})
                	{% endif %}
       		    </div>
                    <div class="col-8">{{form.approved}}</div>
                </div>
                <div class="row">
                    <div class="col-4">{% translate "Produkter pr. side" %}</div>
                    <div class="col-8">{{form.limit}}</div>
                    <div class="col-12"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
                </div>
            </div>
        </div>
    </form>

    <div class="card mt-3" id="delete_confirmation" style="display:none">
        <div class="card-body text-center">
            {% bs_icon "trash" size="2em" %}
            <div>
                {% translate "Produkt fjernet" %}
            </div>
        </div>
    </div>

    <div class="col-12  mt-3">
        <a class="btn btn-primary" href="{% url 'pant:registered_products_csv' 1 %}">{% translate "Download .csv-fil med godkendte produkter" %}
        </a>
        <a class="btn btn-primary" href="{% url 'pant:registered_products_csv' 0 %}">{% translate "Download .csv-fil med alle produkter" %}
        </a>
        <div class="dropdown float-end">
            <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            {% bs_icon "funnel" size="1em" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% include "./filter.html" with verbose_name="Materiale" name="material" show=request.user.show_material %}
                {% include "./filter.html" with verbose_name="Form" name="shape" show=request.user.show_shape %}
                {% include "./filter.html" with verbose_name="Dansk pant" name="danish" show=request.user.show_danish %}
                {% include "./filter.html" with verbose_name="Højde" name="height" show=request.user.show_height %}
                {% include "./filter.html" with verbose_name="Diameter" name="diameter" show=request.user.show_diameter %}
                {% include "./filter.html" with verbose_name="Vægt" name="weight" show=request.user.show_weight %}
                {% include "./filter.html" with verbose_name="Volumen" name="capacity" show=request.user.show_capacity %}
                {% include "./filter.html" with verbose_name="Godkendt dato" name="approval_date" show=request.user.show_approval_date %}
                {% include "./filter.html" with verbose_name="Oprettelsesdato" name="creation_date" show=request.user.show_creation_date %}
            </ul>
        </div>
    </div>

    <table id="table" class="table table-bordered table-striped mt-1"
           data-toggle="table"
           data-sticky-header="true"
           data-classes="table"
           data-data-field="items"
           data-sortable="true"
           data-pagination="true"
           data-pagination-parts="['pageList']"
           data-page-number="{{search_data.page_number}}"
           data-page-size="{{search_data.limit}}"
           data-side-pagination="server"
           data-pagination-loop="false"
           data-defer-url="{% url 'pant:product_list' %}?json=1"
           data-query-params="queryParams"
           data-row-style="rowStyle"
           data-total-rows="{{total}}"
           data-silent-sort="true" {# vil vi vise en loading-boks? #}
           data-remember-order="true"
    >
        <thead>
        <tr>
            <th data-sortable="true" data-field="product_name" class="col-3">Produktnavn</th>
            <th data-sortable="true" data-field="barcode" class="col-3">Stregkode</th>
            <th data-sortable="true" data-field="approved" class="col-3">Godkendt</th>
            <th data-sortable="true" data-field="material" class="col-3" data-visible={{request.user.show_material|truefalse}}>Materiale</th>
            <th data-sortable="true" data-field="shape" class="col-3" data-visible={{request.user.show_shape|truefalse}}>Form</th>
            <th data-sortable="true" data-field="danish" class="col-3" data-visible={{request.user.show_danish|truefalse}}>Dansk pant</th>
            <th data-sortable="true" data-field="height" class="col-3" data-visible={{request.user.show_height|truefalse}}>Højde</th>
            <th data-sortable="true" data-field="diameter" class="col-3" data-visible={{request.user.show_diameter|truefalse}}>Diameter</th>
            <th data-sortable="true" data-field="weight" class="col-3" data-visible={{request.user.show_weight|truefalse}}>Vægt</th>
            <th data-sortable="true" data-field="capacity" class="col-3" data-visible={{request.user.show_capacity|truefalse}}>Volumen</th>
            <th data-sortable="true" data-field="approval_date" class="col-3" data-visible={{request.user.show_approval_date|truefalse}}>Godkendt dato</th>
            <th data-sortable="true" data-field="creation_date" class="col-3" data-visible={{request.user.show_creation_date|truefalse}}>Oprettelsesdato</th>
            <th data-field="actions" class="col-3">Handlinger</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.product_name}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.approved}}</td>
            <td>{{item.material}}</td>
            <td>{{item.shape}}</td>
            <td>{{item.danish}}</td>
            <td>{{item.height}}</td>
            <td>{{item.diameter}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.approval_date}}</td>
            <td>{{item.creation_date}}</td>
            <td>
                {% include actions_template with item=item %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{search_data|json_script:"search_data"}}

<script>
var delete_success = getUrlParameter("delete_success");
if (delete_success=="1"){
    $("#delete_confirmation").show();
    }

var $table = $('#table');
function hideItem(item_name){
    $table.bootstrapTable('hideColumn', item_name);
}
function showItem(item_name){
    $table.bootstrapTable('showColumn', item_name);
}

$('[id$=Toggle]').click(function() {
    const $this = $(this);
    var id = $this.attr('id');
    var item_name = id.slice(0,-6);

    if ($this.is(":checked")){
        showItem(item_name);
    } else {
        hideItem(item_name);
    }

    var data ={csrfmiddlewaretoken: '{{ csrf_token }}'};
    data["show_" + item_name] = $this.is(":checked");
    $.ajax({
        type: 'POST',
        url: 'bruger/'+'{{ request.user.id }}'+'/indstillinger',
        data: data,
    });
   });
</script>

{% endblock %}
