<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block extra_headers %}
    <script src="{% url 'javascript-catalog' %}"></script>
    {% if can_edit_multiple %}
        <script src="{% static 'jquery/product_list_actions.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="mx-5">
        <div class="row">
            <div class="col-6">
                <h1>{% translate "Produkter" %}</h1>
            </div>
        </div>
        <form method="get">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">{% translate "Navn" %}</div>
                        <div class="col-8">{{ form.product_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">{% translate "Stregkode" %}</div>
                        <div class="col-8">{{ form.barcode }}</div>
                    </div>
                    <div class="row">
                        <div class="col-4">{% translate "Status" %}</div>
                        <div class="col-8">{{ form.state }}</div>
                    </div>
                    {% if user.is_esani_admin %}
                        <div class="row">
                            <div class="col-4">{% translate "Import job" %}</div>
                            <div class="col-8">{{ form.import_job }}</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-end">Søg</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% include "../delete_confirmation.html" with icon_tag="trash" delete_text="Produkt fjernet" %}
        {% csrf_token %}
        <div class="col-12  mt-3">
            <a class="btn btn-primary"
               href="{% url 'pant:registered_products_csv_download' 1 %}">{% translate "Download .csv-fil med godkendte produkter" %}
            </a>
            <a class="btn btn-primary"
               href="{% url 'pant:registered_products_csv_download' 0 %}">{% translate "Download .csv-fil med alle produkter" %}
            </a>
            {% if can_edit_multiple and user.is_esani_admin %}
                <a id="approve_button" class="btn btn-primary disabled" href="#" data-post-url="{% url "pant:product_multiple_approve" %}">
                    {% translate "Godkend alle markerede produkter" %}
                </a>
                <a id="reject_button" class="btn btn-warning disabled" href="#" data-post-url="{% url "pant:product_multiple_reject" %}">
                    {% translate "Afvis alle markerede produkter" %}
                </a>
                <a id="delete_button" class="btn btn-danger disabled" href="#" data-post-url="{% url "pant:product_multiple_delete" %}">
                    {% translate "Slet alle markerede produkter" %}
                </a>
            {% endif %}
            {% include "../list_view_filter_button.html" with columns=filterable_columns %}
        </div>
        {% include "../list_view_table.html" %}
    </div>
{% endblock %}
