{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block extra_headers %}
<script src="{% static 'jquery/detail_view.js' %}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="mx-5">
        <h1>{% translate "Produktdetaljer" %}</h1>

        <div class="row">
            <div class="col-6">
                <h2>{% translate "Pant" %}</h2>
                <table class="table table-bordered">
                    <tbody>
                    {% include "../edit_field.html" with field_name="product_name" field=form.product_name %}
                    {% include "../edit_field.html" with field_name="barcode" field=form.barcode %}
                    <tr>
                        <th>{{object|verbose_name:"approved"}}</th>
                        <td>{{object.approved|yesno}}</td>
                    </tr>
                    {% include "../edit_field.html" with field_name="danish" field=form.danish %}
                    {% if can_approve %}
                    <tr>
                        <th>{{object|verbose_name:"created_by"}}</th>
                        <td>{{object.created_by.username}} (<a href="mailto:{{object.created_by.email}}">{{object.created_by.email}}</a>)</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h2>{% translate "Materiale" %}</h2>
                <table class="table table-bordered">
                    <tbody>
                    {% include "../edit_field.html" with field_name="material" field=form.material %}
                    {% include "../edit_field.html" with field_name="height" field=form.height unit="mm" %}
                    {% include "../edit_field.html" with field_name="diameter" field=form.diameter unit="mm" %}
                    {% include "../edit_field.html" with field_name="weight" field=form.weight unit="g" %}
                    {% include "../edit_field.html" with field_name="capacity" field=form.capacity unit="ml" %}
                    {% include "../edit_field.html" with field_name="shape" field=form.shape %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if not object.approved %}
        <div class="row">
            {% if can_edit %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="cart-title">Rediger</h5>
                        <p class="card-text">
                            Rediger et produkt ved at:

                            <ul>
                                <li>Rette de ønskede felter (ved brug af {% bs_icon "pencil-square" color="blue" %} knapper) </li>
                                <li>Klik "Gem"</li>
                            </ul>

                        </p>
                        <button id="update_button" type="submit" class="btn btn-primary disabled">Gem</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if can_approve %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="cart-title">Godkend</h5>
                        <p class="card-text">
                            Inden godkendelse skal det sikres at:
                        </p>
                        <ul>
                            <li>Navn og stregkode på produktet er korrekt</li>
                            <li>At emballagen er pantbelagt</li>
                        </ul>
                        <button id="approve_button" type="submit" name="{{form.approved.name}}" value="1" class="btn btn-success">Godkend</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</form>

{{ form_fields_to_show|json_script:"form_fields_to_show" }}
{{ form_fields|json_script:"form_fields" }}

{% endblock %}
