<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
<script src="{% static 'jquery/pantportal.js' %}"></script>
{% endblock %}

{% block content %}

<div class="mx-5">
    <h1>{% translate "Registrer ny butiksadministrator" %}</h1>
    <form method="POST" class="row g-3">
        {% csrf_token %}
    {% include "../user_subform.html" with form=form %}
    <div class="col-12 my-4">
        <h4>{% translate "Virksomhed" %}</h4>
    </div>
    {% include "../company_dropdown.html" with subform=form.branch mainform=form %}
    {% include "../company_subform.html" with form=form.company %}
    <div class="col-12 my-4"  style="display:none" id="branch_header">
        <h4>{% translate "Butik" %}</h4>
    </div>
    {% include "../branch_dropdown.html" with subform=form.user mainform=form %}
    {% include "../branch_subform.html" with form=form.branch %}
    {% include "../crossform_errors.html" with form=form %}
    {% include "../form_buttons.html" with user=user %}
    </form>
</div>

{{ branch_dict|json_script:"branch_dict" }}

<script>
function hide_branch_dropdown_options(){
    $("#id_user-branch").children("option").not(":first").hide();
}

function reset_company_dropdown() {
    $("#id_branch-company option[value='']").prop("selected", "selected");
    reset_branch_dropdown();
    hide_branch_dropdown_options();
}

function reset_branch_dropdown() {
    $("#id_user-branch option[value='']").prop("selected", "selected");
}

function hide_company_dropdown(){
   $("#company_dropdown").hide();
   reset_company_dropdown();
}

function hide_branch_dropdown(){
    $("#branch_dropdown").hide();
    reset_branch_dropdown();
}

function show_company_dropdown(){
    $("#company_dropdown").show();
}

function show_branch_dropdown(){
    $("#branch_header").show();
    $("#branch_dropdown").show();
}

function show_company_form() {
    $("#company_form").show();
    updateQueryString("show_company","1");
    show_branch_form();
    hide_branch_dropdown();
    $("#show_branch_dropdown").hide()
}

function show_branch_form() {
    $("#branch_header").show();
    $("#branch_form").show();
    updateQueryString("show_branch","1");

    // If there are no branches to choose from, hide the option to show the dropdown
    company_id = $("#id_branch-company").val();
    const branches = get_branch_ids(company_id);

    if (branches.length === 0) {
        $("#show_branch_dropdown").hide();
    } else {
        $("#show_branch_dropdown").show();
    }
}

function hide_company_form() {
    $("#company_form").hide();
    $("#branch_header").hide();
    updateQueryString("show_company","0");
    hide_branch_form();
    hide_branch_dropdown();
}

function hide_branch_form() {
    $("#branch_form").hide();
    updateQueryString("show_branch","0");
}

$("#show_branch_dropdown").click(function() {
    hide_branch_form();
    show_branch_dropdown();
});
$("#show_branch_form").click(function() {
    show_branch_form();
    hide_branch_dropdown();
});
$("#show_company_dropdown").click(function() {
    hide_company_form();
    show_company_dropdown();
});
$("#show_company_form").click(function() {
    show_company_form();
    hide_company_dropdown();
});

var show_company = getUrlParameter("show_company");
var show_branch = getUrlParameter("show_branch");
company_id = $("#id_branch-company").val();

if (company_id>0){
    show_branch_dropdown();
}

if (show_branch == "1"){
    show_branch_form();
    hide_branch_dropdown();
}

if (show_company == "1"){
    show_company_form();
    hide_company_dropdown();
}

update_branch_dropdown();

function get_branch_ids(company_id) {
  if (company_id === ""){
      return $([]);
  }
  const branch_dict = JSON.parse($("#branch_dict").text());
  const branches_in_this_company = branch_dict[company_id];
  return branches_in_this_company;
}

function update_branch_dropdown(){
  company_id = $("#id_branch-company").val();
  const branches_to_show_in_dropdown = get_branch_ids(company_id);

  selected_branch_id = $("#id_user-branch").val();

  reset_branch_dropdown();
  hide_branch_dropdown_options();

  $.each(branches_to_show_in_dropdown, function( index, value ) {
      $("#id_user-branch").children("option[value^=" + value + "]").show();
      if (value == selected_branch_id){
          $("#id_user-branch").val(selected_branch_id);
      }
  });
  return branches_to_show_in_dropdown
}


$("#id_branch-company").change(function(){
  const branches_to_show_in_dropdown = update_branch_dropdown();

  if (branches_to_show_in_dropdown.length === 0) {
    show_branch_form();
    hide_branch_dropdown();
  } else {
    hide_branch_form();
    show_branch_dropdown();
}

});

</script>
{% endblock %}
