<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_headers %}
<script src="{% static 'jquery/pantportal.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static 'jquery/wizard.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block content %}

<div class="mx-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>{% translate "Registrer ny butiksadministrator" %}</h1>
            <p>
                {% translate "Her kan du oprette en bruger, der arbejder i en afdeling af en kæde." %}
            </p>
            <p>
                {% translate "Hvis kæden ikke allerede er oprettet, kan du oprette den i trin 2." %}
            </p>
            <p>
                {% translate "Hvis afdelingen ikke allerede er oprettet, kan du oprette den i trin 3." %}
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for error in form.crossform_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}

            <form method="POST" novalidate data-abort-message="{% translate "Er du sikker på, at du vil forlade siden? Dine indtastede data bliver ikke gemt." %}">
                {% csrf_token %}

                <div class="card">
                    <div class="card-body">
                        <h4>{% translate "1. Bruger" %}</h4>
                        {% include "../user_subform.html" with form=form.user flags=form %}
                    </div>
                </div>

                <div class="card d-none">
                    <div class="card-body">
                        <h4>{% translate "2. Virksomhed" %}</h4>
                        {% include "../company_dropdown.html" with subform=form.branch mainform=form %}
                        {% include "../company_subform.html" with form=form.company %}
                    </div>
                </div>

                <div class="card d-none">
                    <div class="card-body">
                        <h4>{% translate "3. Salgssted (butik, afdeling, mv.)" %}</h4>
                        {% include "../branch_dropdown.html" with subform=form.user mainform=form %}
                        {% include "../branch_subform.html" with form=form.branch %}
                    </div>
                </div>

                {% if form.show_captcha %}
                <div class="card d-none">
                    <div class="card-body">
                        <h4>{% translate "4. Bekræft, at du ikke er en robot" %}</h4>
                        {% include "../captcha_subform.html" with form=form.user %}
                    </div>
                </div>
                {% endif %}

                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-secondary" id="prev" type="button">{% translate 'Tilbage' %}</button>
                        <button class="btn btn-primary" id="next" type="button">{% translate 'Næste' %}</button>
                        <button class="btn btn-primary float-end d-none" id="submit" type="submit">{% translate 'Opret' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{ branch_dict|json_script:"branch_dict" }}

<script nonce="{{ request.csp_nonce }}">
function hide($el) {
    $el.addClass("d-none");
}

function show($el) {
    $el.removeClass("d-none");
}

function hide_branch_dropdown_options(){
    hide($("#id_user-branch").children("option").not(":first"));
}

function reset_company_dropdown() {
    $("#id_branch-company option[value='']").prop("selected", "selected");
    reset_branch_dropdown();
    hide_branch_dropdown_options();
}

function reset_branch_dropdown() {
    $("#id_user-branch option[value='']").prop("selected", "selected");
}

function hide_company_dropdown(){
   hide($("#company_dropdown"));
   reset_company_dropdown();
}

function hide_branch_dropdown(){
    hide($("#branch_dropdown"));
    reset_branch_dropdown();
}

function show_company_dropdown(){
    show($("#company_dropdown"));
}

function show_branch_dropdown(){
    show($("#branch_header"));
    show($("#branch_dropdown"));
}

function show_company_form() {
    show($("#company_form"));
    updateQueryString("show_company","1");
    show_branch_form();
    hide_branch_dropdown();
    hide($("#show_branch_dropdown"));
}

function show_branch_form() {
    show($("#branch_header"));
    show($("#branch_form"));
    updateQueryString("show_branch","1");

    // If there are no branches to choose from, hide the option to show the dropdown
    const company_id = $("#id_branch-company").val();
    const branches = get_branch_ids(company_id);

    if (branches.length === 0) {
        hide($("#show_branch_dropdown"));
    } else {
        show($("#show_branch_dropdown"));
    }
}

function hide_company_form() {
    hide($("#company_form"));
    hide($("#branch_header"));
    updateQueryString("show_company","0");
    hide_branch_form();
    hide_branch_dropdown();
}

function hide_branch_form() {
    hide($("#branch_form"));
    updateQueryString("show_branch","0");
}

$("#show_branch_dropdown").click(function() {
    hide_branch_form();
    show_branch_dropdown();
});
$("#show_branch_form").click(function() {
    show_branch_form();
    hide_branch_dropdown();
});
$("#show_company_dropdown").click(function() {
    hide_company_form();
    show_company_dropdown();
});
$("#show_company_form").click(function() {
    show_company_form();
    hide_company_dropdown();
});

const show_company = getUrlParameter("show_company");
const show_branch = getUrlParameter("show_branch");
let company_id = $("#id_branch-company").val();

if (company_id>0){
    show_branch_dropdown();
}

if (show_branch == "1"){
    show_branch_form();
    hide_branch_dropdown();
}

if (show_company == "1"){
    show_company_form();
    hide_company_dropdown();
}

update_branch_dropdown();

function get_branch_ids(company_id) {
  if (company_id === ""){
      return $([]);
  }
  const branch_dict = JSON.parse($("#branch_dict").text());
  const branches_in_this_company = branch_dict[company_id];
  return branches_in_this_company;
}

function update_branch_dropdown(){
  company_id = $("#id_branch-company").val();
  const branches_to_show_in_dropdown = get_branch_ids(company_id);
  const selected_branch_id = $("#id_user-branch").val();

  reset_branch_dropdown();
  hide_branch_dropdown_options();

  $.each(branches_to_show_in_dropdown, function( index, value ) {
      show($("#id_user-branch").children("option[value^=" + value + "]"));
      if (value === selected_branch_id){
          $("#id_user-branch").val(selected_branch_id);
      }
  });
  return branches_to_show_in_dropdown
}


$("#id_branch-company").change(function(){
  const branches_to_show_in_dropdown = update_branch_dropdown();

  if (branches_to_show_in_dropdown.length === 0) {
    show_branch_form();
    hide_branch_dropdown();
  } else {
    hide_branch_form();
    show_branch_dropdown();
}

});

</script>
{% endblock %}
