<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Pantmaskiner" %}</h1>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-2">{% translate "Serienummer" %}</div>
            <div class="col-4">{{form.serial_number}}</div>
        </div>
        {% if user.get_user_type_display == "Virksomhedsbruger" or user.is_esani_admin %}
        <div class="row">
            <div class="col-2">{% translate "Butik" %}</div>
            <div class="col-4">{{form.company_branch__name}}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-6 clearfix"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
        </div>
    </form>
    {% include "../list_view_table.html" %}
    <a href="{% url 'pant:rvm_register' %}" class="btn btn-sm btn-primary">+</a>
</div>
{% endblock %}
