<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends "esani_pantportal/layout.html" %}
{% load i18n %}

{% block title %}{% translate 'Password reset' %}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% if form.non_field_errors %}
    <div class="row justify-content-md-center">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="justify-content-md-center d-flex align-items-center vh-100">
        <div class="card" style="width: 40rem;">
            <h5 class="card-header">{% translate 'Password reset' %}</h5>
            <div class="card-body">
                <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row my-1">
                        <div class="col-4">
                            <label for="id_email">{% translate 'Email address:' %}</label>
                        </div>
                        <div class="col-8">
                            {{ form.email }}
                            {{ form.email.errors  }}
                        </div>
                    </div>
                    <button class="btn btn-primary float-end" type="submit">{% translate 'Reset my password' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
