<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends "esani_pantportal/layout.html" %}
{% load i18n %}

{% block title %}{% translate 'Password reset' %}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="justify-content-md-center d-flex align-items-center vh-100">
        <div class="card" style="width: 40rem;">
            <h5 class="card-header">{% translate 'Password reset' %}</h5>
            <div class="card-body">
                <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
                <a href="{% url 'pant:login' %}" class="btn btn-primary">{% translate 'Tilbage til login' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
