<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block content %}
<div class="mx-5">
    <h1>{% translate "Skift adgangskode" %}</h1>
    <form method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-6">
          <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
          {{form.password}}
          {% if form.password.errors %}
              <div class="form-text">
                  {{form.password.errors}}
              </div>
          {% endif %}
            <small>
                {% include "./password_requirements.html" %}
            </small>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
          <label for="{{form.password2.id_for_label}}">{{form.password2.label}}</label>
          {{form.password2}}
          {% if form.password2.errors %}
              <div class="form-text">
                  {{form.password2.errors}}
              </div>
          {% endif %}
        </div>

        <div class="col-12">
            <input class="btn btn-success float-right my-2" type="submit" value="{% translate 'Gem' %}"/>
            <a href="{% url 'pant:user_view' object.id %}" class="btn btn-secondary my-2 mx-1" role="button">{% translate 'Tilbage' %}</a>
        </div>


    </form>
</div>
{% endblock %}
