django==5.2.7
gunicorn==23.0.0
psycopg2==2.9.11
coverage==7.11.0
django-extensions==4.1
pydotplus==2.0.2
django-ninja==1.4.3
django-ninja-extra==0.30.1
django-ninja-jwt==5.3.9
orjson==3.11.3
six==1.17.0
beautifulsoup4==4.14.2
humanize==4.14.0
pandas==2.3.3
openpyxl==3.1.5
xlsxwriter==3.2.9
django-bootstrap-icons==0.9.0
django-betterforms==2.0.0
whitenoise==6.11.0
paramiko==4.0.0
django-simple-history==3.10.1
django-debug-toolbar==6.0.0
django-phonenumber-field[phonenumberslite]==8.3.0
babel==2.17.0
django-simple-captcha==0.6.2
tblib==3.1.0
requests==2.32.5
pydantic==2.11.9
datamodel-code-generator==0.35.0
devtools==0.12.2
django-two-factor-auth==1.18.1
django-override-autonow==0.0.1
unittest-parametrize==1.8.0
django-cprofile-middleware==1.0.5
django-debug-toolbar-template-profiler==2.1.0
mypy==1.18.2
django-stubs[compatible-mypy]==5.2.7
types-paramiko==4.0.0.20250822
types-requests==2.32.4.20250913
django-fsm-2==4.0.0
prometheus-client==0.23.1
django-csp==4.0
django-csp[jinja2]
django-csp-helpers==0.7.1
