<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}
{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Virksomheder" %}</h1>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-2">{% translate "Navn" %}</div>
            <div class="col-4">{{form.name}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Adresse" %}</div>
            <div class="col-4">{{form.address}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Postnr." %}</div>
            <div class="col-4">{{form.postal_code}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "By" %}</div>
            <div class="col-4">{{form.city}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Virksomhedstype" %}</div>
            <div class="col-4">{{form.object_class_name}}</div>
        </div>
        <div class="row">
            <div class="col-6 clearfix"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
        </div>
    </form>
    {% include "../delete_confirmation.html" with icon_tag="building-x" delete_text="Virksomhed fjernet" %}
    <div class="col-12  mt-3">
        <a class="btn btn-primary" href="{% url 'pant:all_companies_csv_download' %}">
            {% translate "Download .csv-fil med alle virksomheder" %}
        </a>
        <a class="btn btn-primary" href="{% url 'pant:all_companies_csv_debtor_download' %}">
            {% translate "Download debitor-csv-fil" %}
        </a>
        {% include "../list_view_filter_button.html" with columns=filterable_columns prefix=preferences_prefix %}
    </div>
    {% include "../list_view_table.html" %}
</div>

{% endblock %}
