<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}


{% block content %}

<div class="mx-5">
    <h1>{% translate "Registrer ny ESANI-admin" %}</h1>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        {% include "../user_subform.html" with form=form %}
        <div class="col-12">
            <input tabindex="5" class="btn btn-success float-right my-2" type="submit" value="{% translate 'Opret' %}"/>
        </div>
    </form>
</div>
{% endblock %}
