<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block content %}
<div class="mx-5">
    <h1>
        {% blocktrans trimmed with qr=object.qr %}
            Pose: {{ qr }}
        {% endblocktrans %}
    </h1>
    <div class="row">
        <div class="col-6">
            <h2>{% translate "Historik" %}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% translate "Dato" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "Ændringsansvarlig" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for history in histories %}
                    <tr>
                        <td class="col-2">{{ history.history_date }}</td>
                        <td class="col-2">{{ history.status }}</td>
                        <td class="col-2">{{ history.history_user }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>{% translate "Indhold" %}</h2>
            {% if deposit_payout_items %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% translate "Produkt" %}</th>
                        <th>{% translate "Antal enheder" %}</th>
                        <th>{% translate "Pantværdi" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in deposit_payout_items %}
                    <tr>
                        <td class="col-2">
                            {% if item.product %}
                                <a href="{% url 'pant:product_view' pk=item.product.pk %}"
                                   title="{{ item.product.barcode }}">
                                    {{ item.product.product_name }}
                                </a>
                            {% else %}
                                {% translate "Ukendt produkt" %}
                            {% endif %}
                        </td>
                        <td class="col-2">{{ item.count }}</td>
                        <td class="col-2">
                            {% if item.product %}
                                {{ item.value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="col-2">{% translate "Ialt" %}</th>
                        <th class="col-2">{{ total_count }}</th>
                        <th class="col-2">{{ total_value }}</th>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <p>{% translate "Ingen produkter registreret" %}</p>
            {% endif %}
        </div>
    </div>
    <a class="btn btn-primary" href="{{ back_url }}">{% translate 'Tilbage' %}</a>
</div>
{% endblock %}
