<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block extra_headers %}
<script src="{% url 'javascript-catalog' %}" nonce="{{ request.csp_nonce }}"></script>
{% if can_edit_multiple %}
<script src="{% static 'jquery/qrbag_list_actions.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Pantposer" %}</h1>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-1">{% translate "QR kode" %}</div>
            <div class="col-3">{{ form.qr }}</div>
        </div>
        <div class="row">
            <div class="col-1">{% translate "Status" %}</div>
            <div class="col-3 mx-0">{{ form.status }}</div>
        </div>
        {% if user.get_user_type_display == "Virksomhedsbruger" or user.is_esani_admin %}
        <div class="row">
            <div class="col-1">{% translate "Butik" %}</div>
            <div class="col-3">{{ form.company_branch__name }}</div>
        </div>
        <div class="row">
            <div class="col-1">{% translate "By" %}</div>
            <div class="col-3">{{ form.city }}</div>
        </div>
        {% endif %}
        {% if user.is_esani_admin %}
        <div class="row">
            <div class="col-1">{% translate "Vis kun manuelt indtastede pantposer" %}</div>
            <div class="col-3">{{ form.manual }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-4 clearfix">
                <button type="submit" class="btn btn-primary float-end">{% translate 'Søg' %}</button>
            </div>
        </div>
    </form>
    <div class="col-12 mt-3">
        <a class="btn btn-primary download-excel" href="#">
            {% translate "Download Excel-fil" %}
        </a>
        {% if can_edit_multiple and user.is_esani_admin %}
        <a id="hide_button" class="btn btn-primary disabled" href="#" data-post-url="{% url "pant:qrbag_multiple_hide" %}">
            {% translate "Skjul markerede pantposer" %}
        </a>
        <a id="unhide_button" class="btn btn-secondary disabled" href="#" data-post-url="{% url "pant:qrbag_multiple_unhide" %}">
            {% translate "Fjern skjult-status fra markerede pantposer" %}
        </a>
        <a id="remove_manual_button" class="btn btn-secondary disabled" href="#" data-post-url="{% url "pant:qrbag_multiple_remove_manual_deposits" %}">
            {% translate "Fjern manuelt indtastet pant fra markerede pantposer" %}
        </a>
        {% endif %}
    </div>
    {% include "../list_view_table.html" %}
</div>
<script nonce="{{ request.csp_nonce }}">
// Handle links in table with `data-qrbag` attribute.
// (See `edit_amount.html` for HTML markup used.)
(function () {
    const handleColumnEdit = function () {
        $("[data-qrbag]").click(function (evt) {
            evt.preventDefault();

            const input = prompt("{% translate 'Indtast antal pantenheder' %}");
            if (input === null) {
                return;  // user cancelled the input prompt
            }

            const amount = parseInt(input, 10);
            if (isNaN(amount)) {
                alert("{% translate 'Indtast venligst et gyldigt, helt tal' %}");
            } else {
                const $elem = $(evt.target).parents("a");
                const data = {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    id: $elem.data("qrbag"),
                    amount: amount,
                };
                $.ajax({
                    type: "POST",
                    url: "",
                    data: data,
                    success: function (result) {
                        $elem.prev("span").text(result.amount);
                    },
                    error: function (result) {
                        alert("{% translate 'Der skete en fejl, prøv venligst igen' %}");
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        // Attach event listener on initial page load
        handleColumnEdit();

        const table = $("table#table");
        table.on("post-body.bs.table", function (evt, number, size) {
            // Reattach event listener when `bootstrap-table` has rendered a
            // new page in the table.
            handleColumnEdit();
        });
    });
})();
</script>
{% endblock %}
