<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}
{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Pantposer" %}</h1>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-1">{% translate "QR kode" %}</div>
            <div class="col-3">{{ form.qr }}</div>
        </div>
        <div class="row">
            <div class="col-1">{% translate "Status" %}</div>
            <div class="col-3 mx-0">{{ form.status }}</div>
        </div>
        {% if user.get_user_type_display == "Virksomhedsbruger" or user.is_esani_admin %}
        <div class="row">
            <div class="col-1">{% translate "Butik" %}</div>
            <div class="col-3">{{ form.company_branch__name }}</div>
        </div>
        <div class="row">
            <div class="col-1">{% translate "By" %}</div>
            <div class="col-3">{{ form.city }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-4 clearfix">
                <button type="submit" class="btn btn-primary float-end">Søg</button>
            </div>
        </div>
    </form>
    <div class="col-12 mt-3">
        <a class="btn btn-primary download-excel" href="#">
            {% translate "Download Excel-fil" %}
        </a>
    </div>
    {% include "../list_view_table.html" %}
</div>
{% endblock %}
