{% load bootstrap_icons %}

<tr>
    <th class="col-6">{{object|verbose_name:field_name}}</th>
    <td class="col-6">
        <div id="show_{{field_name}}_div">
            {{ object|get_display_name:field_name }} {{unit}}
            {% if not object.approved and can_edit or object|is_user_object and can_edit %}
            <a style="display:inline-block" class="icon-link" id="edit_{{field_name}}_button">
                {% if show_pencil|default_if_none:True %}
                {% bs_icon "pencil-square" %}
                {% endif %}
            </a>
            {% endif %}
        </div>
        <div id="edit_{{field_name}}_div" style="display:none" class="row mx-0">
            {{ field }}
            {{ field.errors }}
        </div>
    </td>
</tr>