<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load static %}
{% load i18n %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'esani_pantportal/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <title>ESANI Pant</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
<header>
    <nav class="nav flex-column flex-sm-row p-1">
        {% if user|has_group:"EsaniAdmins" or user|has_group:"CompanyAdmins"   %}
        <div class="dropdown p-2">
        <a class="text-muted dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registrér produkt
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:product_register' %}">Registrér et enkelt produkt</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:multiple_product_register' %}">Importér regneark</a></li>
        </ul>
        </div>
        {% endif %}
        <a class="p-2 text-muted" href="{% url 'pant:product_list' %}">Produktliste</a>
        <span class="p-2 ms-auto">
            {{user.first_name}} {{user.last_name}} - {{user.branch.name}}
        </span>
        <a href="{% url 'pant:logout' %}" class="m-1 btn btn-sm btn-primary" id="logout-link">{% translate "Log ud" %}</a>
    </nav>


    <hr class="p-0 m-0"/>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}

<script>
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
</script>
</body>
</html>
