<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load static %}
{% load i18n %}
{% load bootstrap_icons %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'esani_pantportal/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}ESANI Pant{% endblock %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
{% if user.is_authenticated %}
<header>
    {% if environment == "staging" %}
    <nav class="bg-warning">
        <p class="text-center fw-bold my-0">TEST</p>
    </nav>
    {% endif %}
    <nav class="nav flex-column flex-sm-row p-1">

        <div class="dropdown p-2">
            <a class="text-muted dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% bs_icon "list" size="1.8em" %}
            </a>
            <ul class="dropdown-menu">
                {% if user.is_esani_admin %}
                    <li><a class="dropdown-item" href="{% url 'pant:newsletter_send' %}">{% bs_icon "envelope"  size="1.3em"%}{% translate "Send Nyhedsbrev" %}</a></li>
                {% endif %}
                {% if user.is_admin %}
                    <li><a class="dropdown-item" href="{% url 'pant:product_register' %}">{% bs_icon "bag-plus" size="1.3em" %}{% translate "Registrér et enkelt produkt" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:product_multiple_register' %}">{% bs_icon "bag-plus" size="1.3em" %}{% translate "Importér produkter fra fil" %}</a></li>
                {% endif %}
                {% if user.is_admin and user.get_user_type_display == "Butiksbruger" %}
                    <li><a class="dropdown-item" href="{% url 'pant:branch_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér bruger" %}</a></li>
                {% elif user.is_admin and user.get_user_type_display == "Virksomhedsbruger" %}
                    <li><a class="dropdown-item" href="{% url 'pant:branch_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér butiksadministrator" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:company_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér virksomhedsadministrator" %}</a></li>
                {% elif user.is_admin and user.get_user_type_display == "Kioskbruger" %}
                    <li><a class="dropdown-item" href="{% url 'pant:kiosk_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér bruger" %}</a></li>
                {% elif user.is_esani_admin %}
                    <li><a class="dropdown-item" href="{% url 'pant:branch_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér butiksadministrator" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:company_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér virksomhedsadministrator" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:kiosk_user_register_by_admin' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér kioskadministrator" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:esani_user_register' %}">{% bs_icon "person-plus" size="1.3em" %}{% translate "Registrér ESANI administrator" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'pant:qr_generate' %}">{% bs_icon "qr-code" size="1.3em" %}{% translate "Generér QR-koder" %}</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'pant:about' %}">{% bs_icon "question-square" size="1.3em" %}{% translate "Om pantportal" %}</a></li>
            </ul>
        </div>
        <a class="p-2 text-muted" href="{% url 'pant:product_list' %}">{% translate "Produkter" %}</a>
        {% if user.is_admin%}
        <a class="p-2 text-muted" href="{% url 'pant:rvm_list' %}">{% translate "Pantmaskiner" %}</a>
        <a class="p-2 text-muted" href="{% url 'pant:qrbag_list' %}">{% translate "QR-poser" %}</a>
        <a class="p-2 text-muted" href="{% url 'pant:user_list' %}">{% translate "Brugere" %}</a>
        {% endif %}
        {% if user.is_esani_admin %}
	<a class="p-2 text-muted" href="{% url 'pant:company_list' %}">{% translate "Virksomheder" %}</a>
        <a class="p-2 text-muted" href="{% url 'pant:deposit_payout_list' %}">{% translate "Udbetalinger" %}</a>
        {% endif %}
        <div class="dropdown p-2 ms-auto">
        <a class="text-muted dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% bs_icon "person-circle" size="1.8em" %} {{user.username}} - {{user.first_name}} {{user.last_name}} - {{user.email}}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:user_view' user.id %}">{% translate "Brugerprofil" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:password_change' user.id %}">{% translate "Skift adgangskode" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:logout' %}" id="logout-link">{% translate "Log ud" %}</a></li>
        </ul>
        </div>
    </nav>


    <hr class="p-0 m-0"/>
</header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert text-center {% if message.level == 20 %}alert-info
                              {% elif message.level == 25 %}alert-success
                              {% elif message.level == 30 %}alert-warning
                              {% elif message.level == 40 %}alert-danger
                              {% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}

<script>
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
</script>
</body>
</html>
