<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load static %}
{% load i18n %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'esani_pantportal/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <title>ESANI Pant</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block header %}
{% if user.is_authenticated %}
<header>
    <nav class="nav flex-column flex-sm-row p-1">
        {% if user.is_admin %}
        <div class="dropdown p-2">
        <a class="text-muted dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate "Registrér produkt" %}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:product_register' %}">{% translate "Registrér et enkelt produkt" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:multiple_product_register' %}">{% translate "Importér fra fil" %}</a></li>
        </ul>
        </div>
        {% endif %}
        {% if user.is_admin and user.get_user_type_display == "Butiksbruger" %}
        <a class="p-2 text-muted" href="{% url 'pant:branch_user_register_by_admin' %}">{% translate "Registrér bruger" %}</a>
        {% elif user.is_admin and user.get_user_type_display == "Virksomhedsbruger" %}
        <div class="dropdown p-2">
        <a class="text-muted dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate "Registrér bruger" %}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:branch_user_register_by_admin' %}">{% translate "Registrér butiksadministrator" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:company_user_register_by_admin' %}">{% translate "Registrér virksomhedsadministrator" %}</a></li>
        </ul>
        </div>
        {% elif user.is_admin and user.get_user_type_display == "Kioskbruger" %}
        <a class="p-2 text-muted" href="{% url 'pant:kiosk_user_register_by_admin' %}">{% translate "Registrér bruger" %}</a>
        {% endif %}
        {% if user.is_esani_admin %}
        <div class="dropdown p-2">
        <a class="text-muted dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% translate "Registrér bruger" %}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:branch_user_register_by_admin' %}">{% translate "Registrér butiksadministrator" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:company_user_register_by_admin' %}">{% translate "Registrér virksomhedsadministrator" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:kiosk_user_register_by_admin' %}">{% translate "Registrér kioskadministrator" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:esani_user_register' %}">{% translate "Registrér ESANI administrator" %}</a></li>
        </ul>
        </div>
        {% endif %}
        <a class="p-2 text-muted" href="{% url 'pant:product_list' %}">{% translate "Produkter" %}</a>
        {% if user.is_admin%}
        <a class="p-2 text-muted" href="{% url 'pant:refund_method_list' %}">{% translate "Pantmaskiner" %}</a>
        <a class="p-2 text-muted" href="{% url 'pant:user_list' %}">{% translate "Brugere" %}</a>
        {% endif %}
        {% if user.is_esani_admin %}
        <a class="p-2 text-muted" href="{% url 'pant:send_newsletter' %}">{% translate "Send Nyhedsbrev" %}</a>
        {% endif %}

        <div class="dropdown p-2 ms-auto">
        <a class="text-muted dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}} - {{user.first_name}} {{user.last_name}} - {{user.email}}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'pant:user_view' user.id %}">{% translate "Brugerprofil" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'pant:change_password' user.id %}">{% translate "Skift adgangskode" %}</a></li>
        </ul>
        </div>
        <a href="{% url 'pant:logout' %}" class="m-1 btn btn-sm btn-primary" id="logout-link">{% translate "Log ud" %}</a>
    </nav>


    <hr class="p-0 m-0"/>
</header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert text-center {% if message.level == 20 %}alert-info
                              {% elif message.level == 25 %}alert-success
                              {% elif message.level == 30 %}alert-warning
                              {% elif message.level == 40 %}alert-danger
                              {% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
{% block extra_footers %}
{% endblock %}

<script>
    $("#logout-link").on('click', function () {
        return confirm("{% translate 'Er du sikker på at du vil logge ud?' %}");
    });
</script>
</body>
</html>
