<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load i18n %}
{% load l10n %}

<table id="table" class="table table-bordered table-striped mt-1"
       data-toggle="table"
       data-sticky-header="true"
       data-classes="table"
       data-data-field="items"
       data-sortable="true"
       data-pagination="true"
       data-pagination-parts="['pageList']"
       data-page-number="{{search_data.page_number|unlocalize}}"
       data-page-size="{{search_data.limit|unlocalize}}"
       data-side-pagination="server"
       data-pagination-loop="false"
       data-defer-url="{{ data_defer_url }}"
       data-query-params="queryParams"
       data-row-style="rowStyle"
       data-total-rows="{{total|unlocalize}}"
       data-silent-sort="true" {# vil vi vise en loading-boks? #}
       data-remember-order="true"
       data-cookie="true" {# Handles table refresh after bulk-approval properly #}
       data-click-to-select="true"
>
    <thead>
    <tr>
        {% if can_edit_multiple %}
        <th data-checkbox="true" data-field="state"></th>
        {% endif %}
        <th data-field="id" class="col-3" data-visible="false">ID</th>
        {% for name, verbose_name, show in columns %}
            <th data-sortable="true" data-field={{name}} class="col-3" data-visible={{show|truefalse}}>{{verbose_name}}</th>
        {% endfor %}
        <th data-field="actions" class="col-3">{% translate "Handlinger" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        {% if can_edit_multiple %}
        <td></td> {# Bootstrap Table puts a checkbox here #}
        {% endif %}
        <td>{{item|get:"id"}}</td>
        {% for name, verbose_name, show in columns %}
            <td>{{item|get:name}}</td>
        {% endfor %}
        <td>
            {% include actions_template with item=item %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!--
Allow selecting multiple items when holding shift
https://github.com/wenzhixin/bootstrap-table/issues/6855
-->
<script>
  var $table = $('#table')
  let shiftKeyDown = false;
        let firstCheckIndex = null;
        let checkingMultiple = false;

        $(document).keydown(function (e) {
            if (e.key === "Shift") shiftKeyDown = true;
        }).keyup(function (e) {
            if (e.key === "Shift") shiftKeyDown = false;
        });

        $table.on('check.bs.table', async (e, row, $element) => {
 
            if (checkingMultiple) return;

            const index = parseInt($element.attr('data-index'));

            if (shiftKeyDown && firstCheckIndex !== null) {
                checkingMultiple = true;

                let startIndex = Math.min(firstCheckIndex, index);
                let endIndex = Math.max(firstCheckIndex, index);

                for (let i = startIndex; i <= endIndex; i++) {
                    $table.bootstrapTable('check', i);
                }

                checkingMultiple = false;
            } else {
                firstCheckIndex = index;
            }
        });
</script>