<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load bootstrap_icons %}

<div class="dropdown float-end">
    <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuButton"
    data-bs-toggle="dropdown" aria-expanded="false">
    {% bs_icon "funnel" size="1em" %}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for name, verbose_name, show in columns %}
        <li>
            <a class="dropdown-item">
                <div class="form-check">
                    {% if show|default_if_none:True %}
                        <input class="form-check-input" type="checkbox" value="" id="{{name}}Toggle" checked />
                    {% else %}
                        <input class="form-check-input" type="checkbox" value="" id="{{name}}Toggle" />
                    {% endif %}
                    <label class="form-check-label d-block" for="{{name}}Toggle">{{verbose_name}}</label>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<script nonce="{{ request.csp_nonce }}">
var $table = $('#table');

function hideItem(item_name){
    $table.bootstrapTable('hideColumn', item_name);
}

function showItem(item_name){
    $table.bootstrapTable('showColumn', item_name);
}

$('input[type=checkbox][id$=Toggle]').change(function (evt) {
    evt.preventDefault();

    const $this = $(this);
    const id = $this.attr('id');
    const itemName = id.replace("Toggle", "");
    const itemState = $this.is(":checked");

    if (itemState) {
        showItem(itemName);
    } else {
        hideItem(itemName);
    }

    let data = {
        csrfmiddlewaretoken: '{{ csrf_token }}'
    };
    data["show_" + itemName] = itemState;
    data["preferences_class_name"] = "{{ preferences_class_name }}";

    $.ajax({
        type: 'POST',
        url: '{% url "pant:preferences_update" request.user.id %}',
        data: data,
    });
});
</script>