<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load i18n %}
{% load l10n %}
{% load static %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'bootstrap-table/bootstrap-table.min.css' %}">
<link rel="stylesheet"
    href="{% static 'bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css' %}">
{% endblock %}

{% block extra_footers %}
<script src="{% static 'bootstrap-table/bootstrap-table.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static 'bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js' %}"
    nonce="{{ request.csp_nonce }}"></script>
<script src="{% static 'bootstrap-table/extensions/defer-url/bootstrap-table-defer-url.min.js' %}"
    nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

<table
    id="table"
    class="table table-bordered table-striped mt-1"
    data-toggle="table"
    data-sticky-header="true"
    data-data-field="items"
    data-sortable="true"
    data-silent-sort="true" {# vil vi vise en loading-boks? #}
    data-pagination="true"
    data-page-number="{{search_data.page_number|unlocalize}}"
    data-page-size="{{search_data.limit|unlocalize}}"
    data-page-list="[20, 50, 100, All]"
    data-side-pagination="server"
    data-pagination-loop="false"
    data-defer-url="{{ data_defer_url }}"
    data-query-params="queryParams"
    data-total-rows="{{total|unlocalize}}"
    data-row-style="rowStyle"
    data-escape="false"
    data-id-field="id">
    <thead>
        <tr>
            {% if can_edit_multiple %}
            <th class="csp-width-1percent" data-field="select"><input type="checkbox" id="select_all" /></th>
            {% endif %}

            <th data-field="id" data-visible="false">ID</th>

            {% for name, verbose_name, show in columns %}
            <th data-sortable="true" data-field={{name}} data-visible={{show|truefalse}} class="column-{{name}}">
                {{verbose_name}}</th>
            {% endfor %}

            {% if actions %}
            <th class="col-2" data-field="actions">{% translate "Handlinger" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            {% if can_edit_multiple %}
            <td>
                <div class="p-1">
                    <input type="checkbox" id="select_{{item.id|unlocalize}}" value="{{item.id|unlocalize}}" />
                </div>
            </td>
            {% endif %}

            <td>{{item|get:"id"|unlocalize}}</td>

            {% for name, verbose_name, show in columns %}
            <td>{{item|get:name|safe}}</td>
            {% endfor %}

            {% if actions %}
            <td>
                {{item|get:"actions"|safe}}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{{search_data|json_script:"search_data"}}


{# JavaScript for selecting rows - because we can't use bootstrap-tables native #}
{# checkbox, since its incompatible with CSP #}

{% if can_edit_multiple %}
<script nonce="{{ request.csp_nonce }}">
    // Mark if shift is pressed
    let shiftPressed = false;
    $(document).on("keydown", function (event) {
        if (event.originalEvent.key === "Shift") {
            shiftPressed = true;
        }
    });

    $(document).on("keyup", function (event) {
        if (event.originalEvent.key === "Shift") {
            shiftPressed = false;
        }
    });

    // Configure the table
    const activeClass = "table-active";
    const tblCheckboxSelector = "input[type=checkbox]"

    let latestClicked;
    let latestRange;

    var $table = $('#table')
    $table.on("click-row.bs.table", function (event, data, row) {
        if (shiftPressed && latestClicked) {
            const index1 = row.index();
            const index2 = latestClicked.index();
            const firstActive = latestClicked.hasClass(activeClass);
            const range = row.siblings().slice(Math.min(index1, index2), Math.max(index1, index2)).add(row);

            if (latestRange) {
                // If a range have already been set when making a new range, the first range needs to be "flipped"
                if (firstActive) {
                    latestRange.removeClass(activeClass);
                    latestRange.find(tblCheckboxSelector).prop("checked", false);
                } else {
                    latestRange.addClass(activeClass);
                    latestRange.find(tblCheckboxSelector).prop("checked", true);
                }
            }

            // Set the new range's 'active', based on the starting point's activity.
            if (firstActive) {
                range.addClass(activeClass);
                range.find(tblCheckboxSelector).prop("checked", true);
            } else {
                range.removeClass(activeClass);
                range.find(tblCheckboxSelector).prop("checked", false);
            }

            latestRange = range;
        } else {
            const checkbox = row.find(tblCheckboxSelector);
            const activate = !row.hasClass(activeClass);

            row.toggleClass(activeClass, activate);
            checkbox.prop("checked", activate);

            // Set "latest", which is used for selecting while shift is pressed
            latestClicked = row;
            latestRange = null;
        }

        // Trigger a custom even we subscribe to in "product_list_actions.js"
        // FYI, we use a custom event instead since we can't use bootstrap-tables
        // checkbox events, ex "uncheck.bs.table"
        $table.trigger("row-select-event")
    });

    $table.on("change", "#select_all", function () {
        const $selectAllCheckbox = $(this);
        const checked = $selectAllCheckbox.is(":checked");

        $table.find(tblCheckboxSelector).prop("checked", checked);
        $table.find("tbody tr").toggleClass(activeClass, checked);
        $table.trigger("row-select-event", {"all": true});
    })

    $table.on("load-success.bs.table", function (event) {
        $table.find("#select_all").prop("checked", false);
    })
</script>
{% endif %}