<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends "esani_pantportal/layout.html" %}
{% load i18n %}
{% block header %}
<header>
    {% if environment == "staging" %}
    <nav class="bg-warning">
        <p class="text-center fw-bold my-0">TEST</p>
    </nav>
    {% endif %}
</header>
{% endblock %}
{% block content %}
{% if form.non_field_errors %}
<div class="row justify-content-md-center">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="justify-content-md-center d-flex align-items-center vh-100">
<div class="card" style="width: 40rem;">
    <h5 class="card-header">Log ind</h5>
    <div class="card-body">

    <form action="" method="POST" class="needs-validation">
        {% csrf_token %}
        <div class="row my-1">
            <div class="col-4">
                Brugernavn:
            </div>
            <div class="col-8">
                {{form.username}}
                {{ form.username.errors }}
            </div>
        </div>
        <div class="row my-1">
            <div class="col-4">
                Adgangskode:
            </div>
            <div class="col-8">
                {{form.password}}
                {{form.password.errors}}
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-end">{% translate 'Login' %}</button>
                <a href="{% url 'reset_password' %}">{% translate "Glemt password?" %}</a>
            </div>
            <a href="{% url 'pant:user_register_begin' %}">{% translate "Opret bruger" %}</a>
            <a href="{% url 'barcode:scan' %}">{% translate "Scan stregkode" %}</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
</div>
</div>
{% endblock %}
