<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block extra_headers %}
<script src="{% static 'jquery/pantportal.js' %}" nonce="{{ request.csp_nonce }}"></script>
<script src="{% static 'jquery/wizard.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>{% translate "Registrer ny virksomhedsadministrator" %}</h1>
            <p>
                {% translate "Her kan du oprette en bruger, der arbejder i en virksomheds hovedkontor, eller hos en importør/eksportør." %}
            </p>
            <p>
                {% translate "Hvis virksomheden ikke allerede er oprettet, kan du oprette den i trin 2." %}
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for error in form.crossform_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}

            <form method="POST" novalidate data-abort-message="{% translate "Er du sikker på, at du vil forlade siden? Dine indtastede data bliver ikke gemt." %}">
                {% csrf_token %}

                <div class="card">
                    <div class="card-body">
                        <h4>{% translate "1. Bruger" %}</h4>
                        {% include "../user_subform.html" with form=form.user flags=form %}
                    </div>
                </div>

                <div class="card d-none">
                    <div class="card-body">
                        <h4>{% translate "2. Virksomhed" %}</h4>
                        {% include "../company_dropdown.html" with subform=form.user mainform=form %}
                        {% include "../company_subform.html" with form=form.company %}
                    </div>
                </div>

                {% if form.show_captcha %}
                <div class="card d-none">
                    <div class="card-body">
                        <h4>{% translate "3. Bekræft, at du ikke er en robot" %}</h4>
                        {% include "../captcha_subform.html" with form=form.user %}
                    </div>
                </div>
                {% endif %}

                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-secondary" id="prev" type="button">{% translate 'Tilbage' %}</button>
                        <button class="btn btn-primary" id="next" type="button">{% translate 'Næste' %}</button>
                        <button class="btn btn-primary float-end d-none" id="submit" type="submit">{% translate 'Opret' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script nonce="{{ request.csp_nonce }}">
function hide($el) {
    $el.addClass("d-none");
}

function show($el) {
    $el.removeClass("d-none");
}

function reset_company_dropdown() {
    $("#id_user-company option[value='']").prop("selected", "selected");
}
function hide_company_dropdown(){
   hide($("#company_dropdown"));
   reset_company_dropdown();
}
function show_company_dropdown(){
    show($("#company_dropdown"));
}
function show_company_form() {
    show($("#company_form"));
    updateQueryString("show_company","1");
}
function hide_company_form() {
    hide($("#company_form"));
    updateQueryString("show_company","0");
}

$("#show_company_dropdown").click(function() {
    hide_company_form();
    show_company_dropdown();
});
$("#show_company_form").click(function() {
    show_company_form();
    hide_company_dropdown();
});

const show_company = getUrlParameter("show_company");
if (show_company === "1"){
    show_company_form();
    hide_company_dropdown();
}
</script>
{% endblock %}
