# ┌───────── minute (0 - 59)
# │ ┌─────── hour (0 - 23)
# │ │ ┌───── day of the month (1 - 31)
# │ │ │ ┌─── month (1 - 12)
# │ │ │ │ ┌─ day of the week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * * command to execute

  * * * * * python manage.py export_approved_products_to_csv /srv/media/product_lists
