<div class="input-group my-0" id="branch_form" style="display:none">
    {% include "./form_field.html" with field=form.name colsize=3 link_id="show_branch_dropdown" %}
    {% include "./form_field.html" with field=form.phone colsize=3 %}
    {% include "./form_field.html" with field=form.branch_type colsize=3 %}
    {% include "./form_field.html" with field=form.location_id help_text=True colsize=3 %}
    {% include "./form_field.html" with field=form.address colsize=3 %}
    {% include "./form_field.html" with field=form.postal_code colsize=1 %}
    {% include "./form_field.html" with field=form.city colsize=2 %}
    {% include "./form_field.html" with field=form.municipality colsize=3 %}
    {% include "./form_field.html" with field=form.customer_id help_text=True colsize=3 %}
    {% include "./form_field.html" with field=form.registration_number help_text=True colsize=1 %}
    {% include "./form_field.html" with field=form.account_number help_text=True  colsize=2 %}
    {% include "./form_field.html" with field=form.invoice_mail help_text=True colsize=3 %}
    {% include "./form_field.html" with field=form.cvr colsize=3 %}
    {% include "./form_field.html" with field=form.permit_number help_text=True colsize=3 %}
</div>
