<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}
{% block content %}
<div class="mx-5">
    <div class="row">
        <div class="col-6">
            <h1>{% translate "Brugere" %}</h1>
        </div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-2">{% translate "Brugernavn" %}</div>
            <div class="col-4">{{form.username}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Type" %}</div>
            <div class="col-4">{{form.user_type}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Godkendt af ESANI" %}</div>
            <div class="col-4">{{form.approved}}</div>
        </div>
        {% if user.is_esani_admin %}
        <div class="row">
            <div class="col-2">{% translate "Butik" %}</div>
            <div class="col-4">{{form.branch}}</div>
        </div>
        <div class="row">
            <div class="col-2">{% translate "Virksomhed" %}</div>
            <div class="col-4">{{form.company}}</div>
        </div>
    	{% endif %}
        <div class="row">
            <div class="col-6 clearfix"><button type="submit" class="btn btn-primary float-end">Søg</button></div>
        </div>
    </form>
    {% include "../delete_confirmation.html" with icon_tag="person-x" delete_text="Bruger fjernet"  %}
    <div class="col-12  mt-3">
        {% if user.is_esani_admin %}
        <a class="btn btn-primary" href="{% url 'pant:all_users_csv_download' %}">
            {% translate "Download .csv-fil med alle brugere" %}
        </a>
        {% endif %}
        {% include "../list_view_filter_button.html" with columns=filterable_columns %}
    </div>
    {% include "../list_view_table.html" %}

</div>

{% endblock %}
