<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
<div class="input-group">
    {% include "./form_field.html" with field=form.username %}
    {% include "./form_field.html" with field=form.prefix colsize=2 %}
    {% include "./form_field.html" with field=form.phone colsize=4 %}
    {% include "./form_field.html" with field=form.password %}
    {% include "./form_field.html" with field=form.password2 %}
    <div class="col-12">
        <div class="form-text mt-0 mb-3 pb-3">
            {% include "./password/password_requirements.html" %}
        </div>
    </div>
    {% include "./form_field.html" with field=form.first_name %}
    {% include "./form_field.html" with field=form.last_name %}
    {% include "./form_field.html" with field=form.email %}
    {% if flags.show_admin_flag %}
        {% include "./form_field.html" with field=form.admin help_text=True %}
    {% else %}
        <div class="d-none"> {{form.admin}} </div>
    {% endif %}
</div>
