<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% extends 'esani_pantportal/layout.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load bootstrap_icons %}

{% block extra_headers %}
<script src="{% static 'jquery/detail_view.js' %}"></script>
<script src="{% static 'jquery/pantportal.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mx-5">
    <h1>{% translate "Brugerdetaljer" %}</h1>
    <div class="row">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                <h2>{% translate "Bruger" %}</h2>
                <table class="table table-bordered">
                    <tbody>
                    {% include "../edit_field.html" with field_name="username" field=form.username %}
                    {% include "../edit_field.html" with field_name="first_name" field=form.first_name %}
                    {% include "../edit_field.html" with field_name="last_name" field=form.last_name %}
                    {% include "../edit_field.html" with field_name="email" field=form.email %}
                    {% include "../edit_field.html" with field_name="phone" field=form.phone %}
                    <tr>
                        <th>{{object|verbose_name:"user_type"}}</th>
                        <td>{{object|get_display_name:"user_type"}}</td>
                    </tr>
                    {% if can_approve and object.approved %}
                        {% include "../edit_field.html" with field_name="approved" field=form.approved %}
                    {% else %}
                        {% include "../edit_field.html" with field_name="approved" field=form.approved show_pencil=False %}
                    {% endif %}
                    {% if object.user_type != 1 %}
                        <tr>
                            <th>{% translate "Admin-rettigheder" %}</th>
                            <td>{{object.is_admin|yesno}}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>{% translate "Adgangskode" %}</th>
                        <td>
                            &#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;
                            {% if user.username != object.username %}
                            <a class="icon-link" href="{% url 'pant:password_set' object.id %}">
                             {% bs_icon "pencil-square" %}
                            </a>
                            {% else %}
                            <a class="icon-link" href="{% url 'pant:password_change' object.id %}">
                             {% bs_icon "pencil-square" %}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% if user.username == object.username %}
                    <tr id="two_factor_row">
                        <th>{% translate "To-faktor-godkendelse" %}</th>
                        <td>
                            {{user|has_two_factor}}
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            <div class="card my-3" id="two_factor_confirmation" style="display:none">
                <div class="card-body text-center">
                    {% bs_icon "shield-check" size="2em" %}
                    <div>
                        {% translate "To-faktor-godkendelse er nu aktiv" %}
                    </div>
                </div>
            </div>

            {% if can_edit %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="cart-title">Rediger</h5>
                        <p class="card-text">
                            Rediger en bruger ved at:

                            <ul>
                                <li>Rette de ønskede felter (ved brug af {% bs_icon "pencil-square" color="blue" %} knapper) </li>
                                <li>Klik "Gem"</li>
                            </ul>

                        </p>
                        <button id="update_button" type="submit" class="btn btn-primary disabled">Gem</button>
                    </div>
                </div>
            {% endif %}
            {% if not object.approved %}
            {% if can_approve %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="cart-title">Godkend</h5>
                        <p class="card-text">
                            Når en bruger er godkendt, kan han logge ind.
                        </p>
                        <button id="approve_button" type="submit" name="{{form.approved.name}}" value="True" class="btn btn-success">Godkend</button>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            </form>
        {% if can_edit %}
            {% translate "Når man fjerner en bruger, fjernes den helt fra databasen." as delete_text %}
            {% url 'pant:user_delete' object.id as delete_url %}
            {% include "../delete_button.html" with url=delete_url text=delete_text %}
        {% endif %}
        </div>

        <div class="col-6">
            {% if object.get_user_type_display == "Butiksbruger" or object.get_user_type_display == "Kioskbruger"  %}
            <h2>
                {% translate "Butik" %}
                {% if can_edit %}
                {% if object.get_user_type_display == "Butiksbruger" %}
                    <a href="{% url 'pant:company_branch_update' profile.branch.id %}?back={{request.get_full_path|quote_url}}">{% bs_icon "box-arrow-up-right" %}</a>
                {% elif object.get_user_type_display == "Kioskbruger" %}
                    <a href="{% url 'pant:kiosk_update' profile.branch.id %}?back={{request.get_full_path|quote_url}}">{% bs_icon "box-arrow-up-right" %}</a>
                {% endif %}
                {% endif %}
            </h2>
            <table class="table table-bordered">
                <tbody>
                {% for attr in branch_info_attributes %}
                <tr>
                    <th>{{profile.branch|verbose_name:attr}}</th>
                    <td>{{profile.branch|get_display_name:attr}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if object.get_user_type_display == "Butiksbruger" or object.get_user_type_display == "Virksomhedsbruger"  %}
            <h2>
                {% translate "Virksomhed" %}
                {% if can_edit %}
                <a href="{% url 'pant:company_update' profile.company.id %}?back={{request.get_full_path|quote_url}}">{% bs_icon "box-arrow-up-right" %}</a>
                {% endif %}
            </h2>
            <table class="table table-bordered">
                <tbody>
                {% for attr in company_info_attributes %}
                <tr>
                    <th>{{profile.company|verbose_name:attr}}</th>
                    <td>{{profile.company|get_display_name:attr}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>




</div>


{{ form_fields_to_show|json_script:"form_fields_to_show" }}
{{ form_fields|json_script:"form_fields" }}

<script>
$("#delete_button").on('click', function () {
    return confirm("{% translate 'Er du sikker på at du vil fjerne denne bruger?' %}");
});

var two_factor_success = getUrlParameter("two_factor_success");
if (two_factor_success=="1"){
    $("#two_factor_confirmation").show();
    $("#two_factor_row").addClass("table-success");
    }

</script>

{% endblock %}
