<!--
SPDX-FileCopyrightText: 2023 Magenta ApS <info@magenta.dk>

SPDX-License-Identifier: MPL-2.0
-->
{% load static %}
{% load i18n %}
{% load l10n %}
<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'barcode_scanner/css/style.css' %}" >
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <title>ESANI Pant</title>
    <style>
        h1 {text-align: center;}
        div {text-align: center;}
    </style>
</head>
<body>

{{ barcodes|json_script:"barcodes" }}
<div class="mx-5">
    <h1>{% translate "Er der pant på mit produkt?" %}</h1>
    <div id="scanner">
        <div class="row my-1">
            <div class="col-12"><label class="form-label">{% translate "Scan produktets stregkode:" %}</label></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <div id="reader" style="display: inline-block; width: 100%"></div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12"><label class="form-label">{% translate "Eller indtast stregkode her:" %}</label></div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <div class="input-group mb-3">
                    <input type="text" placeholder="0000" id="barcode" name="barcode" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="submit" type="button">{% translate "Søg" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="success" style="display:none">
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <img src="{% static 'images/success.jpg' %}" style="width: 50%"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                {% translate "Der er pant på dette produkt." %}
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Stregkode:" %}</b>
            </div>
            <div class="col-6 text-start" id="barcode_success"></div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Pant (DKK):" %}</b>
            </div>
            <div class="col-6 text-start" id="refund_value"></div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Produkt navn:" %}</b>
            </div>
            <div class="col-6 text-start" id="product_name"></div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Produkt type:" %}</b>
            </div>
            <div class="col-6 text-start" id="product_type"></div>
        </div>
    </div>
    <div id="failure" style="display:none">
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <img src="{% static 'images/failure.jpg' %}" style="width: 50%"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                {% translate "Der er ikke pant på dette produkt." %}
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Stregkode:" %}</b>
            </div>
            <div class="col-6 text-start" id="barcode_failure"></div>
        </div>
        <div class="row my-1">
            <div class="col-6 text-end">
                <b>{% translate "Pant (DKK):" %}</b>
            </div>
            <div class="col-6 text-start">0</div>
        </div>
    </div>
    <div id="results_div" style="display:none">
        <div class="row my-1 justify-content-center">
            <div class="col-12">
            {% translate "Det totale beløb er:" %}
            </div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-12">
                <h1 class="display-1" style="font-weight: 800">
                    <div id="total_pant_header">0</div>
                </h1>
            </div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <button class="btn btn-outline-dark" style="width:100%" id="more_products_button" type="button">{% translate "Scan flere produkter" %}</button>
            </div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <button class="btn btn-outline-dark" style="width:100%" id="reset_button" type="button">{% translate "Nulstil" %}</button>
            </div>
        </div>
        <div class="row my-1 justify-content-center" id="show_details_button_div">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <button class="btn btn-outline-dark" style="width:100%" id="show_details_button" type="button">{% translate "Vis detaljer" %}</button>
            </div>
        </div>
        <div class="row my-1 justify-content-center" id="hide_details_button_div">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
                <button class="btn btn-outline-dark" style="width:100%" id="hide_details_button" type="button">{% translate "Gem detaljer" %}</button>
            </div>
        </div>
        <div class="row my-1 justify-content-center">
            <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3 table-responsive">
                <table id="resultsTable" class="table" style="display:none">
                    <thead>
                        <tr>
                            <th>{% translate "Stregkode" %}</th>
                            <th>{% translate "Pant (DKK)" %}</th>
                            <th>{% translate "Produkt navn" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><b>{% translate "Total: " %}</b></td>
                            <td><b> <div id="total_pant">0</div></b></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row my-1 justify-content-center" style="display:none" id="back_button_div">
        <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
            <button class="btn btn-outline-dark" style="width:100%" id="back_button" type="button">{% translate "Scan næste produkt" %}</button>
        </div>
    </div>
    <div class="row my-1 justify-content-center" style="display:none" id="show_total_button_div">
        <div class="col-sm-12 col-md-7 col-lg-4 col-xl-3">
            <button class="btn btn-outline-dark" style="width:100%" id="show_total_button" type="button">{% translate "Vis total" %}</button>
        </div>
    </div>
</div>

<!--
# Scanner documentation:
https://github.com/mebjas/html5-qrcode
https://scanapp.org/html5-qrcode-docs/docs/intro
https://blog.minhazav.dev/research/html5-qrcode
-->
<script>
const lookup = function() {
    const barcode = $("#barcode").val();
    process_barcode(barcode);
}

var total_pant = 0;

function showDetails() {
    $("#resultsTable").show();
    $("#show_details_button_div").hide();
    $("#hide_details_button_div").show();
}

function hideDetails() {
    $("#resultsTable").hide();
    $("#show_details_button_div").show();
    $("#hide_details_button_div").hide();
}

function showResult() {
    html5QrcodeScanner.clear();
    $("#scanner").hide();
    $("#back_button_div").show();
    $("#results_div").hide();
    }

function showScanner() {
    $("#scanner").show();
    html5QrcodeScanner.render(onScanSuccess);
    $("#back_button_div").hide();
    $("#failure").hide();
    $("#success").hide();
    $("#results_div").hide();
    $("#barcode").val("");
    $("#show_total_button_div").hide();
    }

function reset() {
    showScanner();
    total_pant = 0;
    $("#resultsTable > tbody").empty();
}

function showTotal() {
    $("#failure").hide();
    $("#success").hide();
    $("#results_div").show();
    $("#show_total_button_div").hide();
    $("#back_button_div").hide();
    $("#hide_details_button_div").hide();
}


function process_barcode(barcode) {
    showResult();
    const barcodes = JSON.parse($("#barcodes").text());

    const found = (barcode in barcodes);
    $("#success").toggle(found);
    $("#failure").toggle(!found);

    let pant = 0;
    let product_name = "-";
    let product_type = "-";
    if (barcode in barcodes){
        const product = barcodes[barcode];
        pant = product["refund_value"] /100;
        product_name = product["product_name"];
        product_type = product["product_type"];
    }

    $("#barcode_success").text(barcode);
    $("#product_name").text(product_name);
    $("#product_type").text(product_type);
    $("#refund_value").text(pant);
    $("#barcode_failure").text(barcode);

    var markup = "<tr><td>" + barcode + "</td>" +
                     "<td>" + pant + "</td>" +
                     "<td>" + product_name + "</td></tr>";

    $("#resultsTable > tbody").append(markup);
    var number_of_rows = $("#resultsTable > tbody > tr").length;

    total_pant = total_pant + pant;
    $("#total_pant").text(total_pant);
    $("#total_pant_header").text(total_pant + " kr.");

    if (number_of_rows > 1) {
        $("#show_total_button_div").show();
    } else {
        $("#show_total_button_div").hide();
    }
}

function onScanSuccess(barcode, decodedResult) {
    process_barcode(barcode);
}

const html5QrcodeScanner = new Html5QrcodeScanner(
	"reader",
	 {fps: 60, qrbox: {width: 250, height: 150}}
);
html5QrcodeScanner.render(onScanSuccess);

$("#submit").on("click",lookup);
$("#barcode").on("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    lookup();
  }
});
$("#back_button").on("click",showScanner);
$("#more_products_button").on("click",showScanner);
$("#reset_button").on("click",reset);
$("#show_total_button").on("click",showTotal);
$("#show_details_button").on("click",showDetails);
$("#hide_details_button").on("click",hideDetails);
</script>
